<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
    
</head>
<body>

    <div class="message">
        <h1>Redirecting to Admin panel...</h1>
        <p>If it is not redirect with in five second click <a href="dashboard.php">here</a>.</p>
    </div>

    <script>
        // Redirect after 5 seconds
        setTimeout(function() {
            window.location.href = "dashboard.php";
        }, 2000);
    </script>

</body>
</html>
