* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General Page Styling */
body { 
    background: linear-gradient(rgba(241, 197, 0, 0.5), rgba(92, 17, 0, 0.5)), 
    url('../images/loginBackground.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10;
}

/* Container with Two Sections */
.login-container, .register-container {
    max-width: 900px;
    width: 700px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    margin: 2rem auto;
}

.login-container {
    text-transform: capitalize;
}

.login-content, .register-content{
    box-sizing:border-box;
    display: flex;
    height: 100%;
    width: 100%;
}


/* Left Side (Form) */
.form-section {
    box-sizing:border-box;
    width:49%;
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    color: #fff;
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.form-control {
    border: 1px solid #ced4da;
    padding: 10px;
}
/* right Side (Image) */
.login-image {
    box-sizing:border-box;
    border-radius:0 0 20px 20px;
    flex: 1;
    background: url('../images/login.jpg') no-repeat center center;
    background-size: cover;
}
/* Responsive Design */
@media (max-width: 768px) {
    .login-container {
        display: block;
        height: 100%;
        width: 100%;
    }

    .form-section{
        height: 100%;
        width:100%;
        background-size:cover;
        padding: 20px;
    }

    .login-image {
        display: none;
    }
}
