* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #e5e7e7;
}

.container {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}

.navbar {
    background-color: #222;
    color: #fff;
    padding: 15px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.search-sort {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content:right;
    float: right;
    padding: 10px 10px;
    margin: 5px 20px;
}

.labal{
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.search-sort input, .search-sort select {
    padding: 5px;
    margin-right: 5px;
    border: 2px solid #ff9800;
    border-radius: 5px;
    width: 150px;
}

.search-sort button {
    padding: 5px 5px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-sort button:hover {
    background-color: #222;
}

.restaurants_quote{
    margin: auto;
    text-align:center;
    text-transform: capitalize;
}

.restaurants_quote h1{
    font-size: 48px;
    font-family: Oswald;
    margin-bottom: 0;
}

.restaurants_quote p{
    margin-top: 0;
    font-size: 20px;
    font-family: cursive;
    font-weight: 600;
    color: #ff9800;
}

.restaurants {
    padding: 40px 0;
}

.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.restaurant-card {
    position: relative;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    overflow: hidden;
    max-width: 400px;
}

.restaurant-card:hover {
    box-shadow: 0 2px 5px rgba(0,0,0, 0.4);
}

.restaurant-status{
    position: absolute;
    top: 0;
    right: -100px;
    width: fit-content;
    height: fit-content;
    padding: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    border-radius: 0 0 0 10px;   
    transform: rotate(45deg);
    text-align: center;
    overflow: hidden;
}

.restaurant-open{
    padding: 0 100px;
    width: 100%;
    background-color: #00cc00;
}

.restaurant-closed{
    padding: 0 100px;
    width: 100%;
    background-color: #ff0000;
}

.restaurant-image {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.restaurant-image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
}

.res-name{
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 90%;
    max-width: 100%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    font-family: cursive;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 4px 4px 10px rgb(0, 0, 0, 1);
}

.restaurant-details{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding: 0;
    text-transform: capitalize;
    margin: 0;
}

.restaurant-details p{
    font-size: 14px;
    color: #666666;
    margin: 1px auto;
}

.res_card_bottom{
    background: linear-gradient(to bottom, #ffffff, #a4a1a8);
    border-radius: 0 0 10px 10px;
    margin: 0;
    padding: 6px;
    width: 100%;
    height: 100%;
}

.redirect{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;

}

.restaurant-card .btn {
    font-family: "oswald", sans-serif;
    margin-bottom: 3px;
    text-align: center;
    padding: 2px 5px;
    color: #a86501;
    border-radius: 3px;
    text-decoration: none;
    background-color: #ffffff;
}

.restaurant-card .btn:hover {
    text-decoration: underline;
    transform: translateY(2px);
    color: rgb(76, 0, 92);
}

/* become a member box*/
.become_partner{
    padding: 2rem 0;
}

.become_partner .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    max-width: 100%;
}

.become_partner .container .box h2 span{
    font-family: "Roboto", sans-serif;
    color: #ff6600;
    text-shadow: 5px 2px 5px rgb(255, 255, 255);
}

.become_partner .container .box p{
    color : #000000;
    font-family: Oswald;
    width: 50%;
    text-align: left;
}

.become_partner .container .restaurant p{
    color: white;
}

.become_partner .container .box{
    box-shadow: 0 0 10px #000000,
    0 0 25px #bc7101, 0 0 50px #bc7101;
    font-family: Oswald;
}

.become_partner .container .box .partner_redirect_link_box{
    border-radius: 50px;
    padding: 5px;
    margin: auto;
    width: fit-content;
    text-align: center;
    box-shadow: 0 0 10px #000000,
    0 0 25px #bc7101,
    0 0 50px #c87800,
    0 0 100px #b16b00,
    0 0 200px #ff9900;
}

.become_partner .container .box .partner_redirect_link_box a {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
}

.become_partner .container .box .partner_redirect_link_box:hover {
    color: #ff9900;
    background-color: #ffff;
    border: 1px solid #ff9900;
    
}

.become_partner .container .box .partner_redirect_link_box:hover a{
    color: #ff9900;
}

.box {
    background: white;
    padding: 2px 30px 6px 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.box:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.box h2 {
    color: #333;
    margin-bottom: 10px;
}

.box p {
    color: #555;
}

.customer {
    background-image: url('../../../public/images/customer.jpg');
    border-top: 5px solid #007bff;
}
.customer .partner_redirect_link_box{
    background-color: #007bff;
}

.restaurant {
    background-image: url('../../../public/images/restaurant.jpg');
    border-top: 5px solid #126933;
}

.restaurant .partner_redirect_link_box{
    background-color: #126933;
}

.delivery {
    background-image: url('../../../public/images/delivery.jpg');
    border-top: 5px solid #ff6600;
}

.delivery .partner_redirect_link_box{
    background-color: #ff6600;
}

.footer {
    background-color: #222;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}



@media screen and (max-width: 768px) {
    .restaurant-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .search-sort {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-sort input, .search-sort select {
        width: 100%;
        margin-bottom: 10px;
    }

    
.restaurant-image {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
}

.restaurant-image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 150px;
    object-fit: cover;
}

.res-name {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    max-width: 100%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    font-family: cursive;
    text-transform: capitalize;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent dark background for better contrast */
    color: #fff; /* white text for contrast */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* improve readability */
    border-radius: 6px;
}


}