

/* Main Section */
.recommendation {
    background-color: #c27603;
    padding: 3px;
    border-radius: 10px;
    width: 90%;
    margin:auto;
    max-width: 90%;
}

/* Container with horizontal layout for h2 and slider */
.top-rec {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2px;
}

.top-rec .recomend_title {
    font-size: 18px;
    font-family: cursive;
    color: #fff;
    text-transform: capitalize;
}

.slider {
    display: flex;
    align-items: center;
}

.arrow-button {
    font-size: 30px;
    background:none;
    color: white;
    padding: 0 6px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrow-button:hover {
    color: #000000;
    border-color: #000000;
}

/* Recommendation Cards Layout */
.recommendation-cards {
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
}

.recommendation-cards a {
    text-decoration: none;
    color: #000;
}


/* Individual Recommendation Card */
.recommendation-card {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.recommendation-card:hover {
    background-color: #ffffff91;
}

.recommendation-card:hover .image img {
    transform: scale(1.05);
}


/* Image Styling */
.recommendation-card .image {
    flex: 1;
    min-width: 50px;
    max-width: 70px;
    margin:auto;
}

.recommendation-card .image img {
    min-width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 3px;
    margin: auto;
}

/* Content Styling */
.recommendation-card .content {
    flex: 2;
    line-height: 4px;
    font-size: 12px;
    margin: 0 5px;
}

.recommendation-card .content p i .fa-star, .fa-solid, .fa-regular{
    color:#ff9900;
}

.recommendation-card .content h3 {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.recommendation-card .content p {
    color: #333;
}

.recommendation-card .content p strong {
    font-weight: bold;
    color: #4CAF50;
}

.reviewer{
    float: right;
    background:  #ffffff;
    padding: 5px 10px;
    border-radius: 50%;
    color: #000000;    
    
}